In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv('./census_cleaned.csv')

In [3]:
if 'Unnamed: 0' in df.columns:
    df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
df

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
26137,53,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
26138,22,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,<=50K
26139,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
26140,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
26141,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [5]:
def get_age_group(age):
    if age < 18:
        return 'underage'
    elif (age >= 18) & (age < 60):
        return 'adult'
    else:
        return 'elder'

def get_salary_group(salary):
    if salary == '<=50K':
        return 1
    return 0

In [6]:
df['age'] = df['age'].apply(get_age_group)
df['salary'] = df['salary'].apply(get_salary_group)

In [7]:
def encoder_label(df, attribute):
    le = preprocessing.LabelEncoder()
    le.fit(list(set(df[attribute])))
    df[attribute] = le.transform(df[attribute])
    np.save(f'./encode_labels/{attribute}.npy', le.classes_)

In [8]:
encoder_label(df,'age')
encoder_label(df,'sex')
encoder_label(df,'race')
encoder_label(df,'occupation')
encoder_label(df,'workclass')
encoder_label(df,'marital-status')

In [9]:
df.to_csv('./census_eda.csv')